name: jiskelo

services:
    app:
        image: jiskelo
        container_name: jiskelo
        build:
            context: .
            dockerfile: Containerfile
        ports:
            - 3000:3000
        volumes:
            - .:/app:z
